.home {
  display: flex;
  flex-direction: column;
  gap: 50px 0;
  .sectionTitleAndSubTitle {
    margin-bottom: 25px;
    gap: 15px 0;
    h2 {
      font-size: 40px;
    }
    p {
      font-size: 16px;
      color: $primaryColor;
      text-transform: uppercase;
    }
  }
  .home-banner {
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
    section {
      width: 50%;
    }
    .hb-left {
      border-bottom-right-radius: 150px;
      overflow: hidden;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        background-color: rgba($color: $primaryColor, $alpha: 0.4);
        width: 100%;
        height: 100%;
      }
      img {
        width: 100%;
      }
    }
    .hb-right {
      align-items: center;
      justify-content: center;
      gap: 25px 0;
      z-index: 888;
      h1,
      h3,
      p {
        width: 80%;
      }
      & > div:first-child {
        background-color: var(--background);
        margin-left: -65%;
        margin-top: auto;
        padding: 75px;
        border-radius: 250px;
      }
      h1 {
        font-size: 8vh;
        // background-color: grey;

        background: -webkit-linear-gradient(#efefef, $primaryColor);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      section {
        // background-color: aqua;
        gap: 15px 0;
        width: 90%;
        align-items: flex-start;
        h3 {
          color: var(--primaryColor) !important;
          font-size: 5vh;
        }
        p {
          font-size: 20px;
        }
      }
    }
  }
  .home-about {
    width: 80%;
    margin: 0 auto;
    ul {
      margin: 25px 0;
      li {
        width: 45%;
        border: solid 2px rgba($color: #fff, $alpha: 0.1);
      }
    }
  }

  .home-projects {
    width: 80%;
    margin: 0 auto;
    .hp-list {
      justify-content: space-between;
      gap: 50px;
      .projectCard {
        width: 30%;
        text-align: center;
        gap: 10px 0;
        div {
          width: 100%;
          display: flex;
          position: relative;
          height: 400px;
          cursor: pointer;
          &:hover {
            section {
              opacity: 1 !important;
              background-image: url("../../public/images/patterns/bg.png");
            }
          }
          img {
            width: 100%;
            height: 100%;
          }
          section {
            transition: all 0.4s;
            position: absolute;
            width: 90%;
            height: 90%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: 15px;
            opacity: 0;
            // background-color: $primaryColor;
            span {
              background-color: var(--background);
              height: 60px;
              width: 60px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 30px;
              border-radius: 15px;
            }
          }
        }
        b {
          color: $primaryColor;
        }
        a {
          color: var(--foreground);
          text-decoration: underline;
        }
      }
    }
  }
  .home-skills {
    width: 80%;
    margin: auto;
    .hs-list {
      justify-content: space-evenly;
      gap: 25px;
    }
    .skillCard {
      width: 30%;
      padding: 25px 0;
      align-items: center;
      justify-content: center;
      font-size: 22px;
      gap: 0 25px;
      color: var(--foreground);
      // background-color: var(--transparentColor);
      border: dashed 2px var(--transparentColor);
      border-radius: 50px;
      transition: all 0.5s;
      &:hover {
        border-color: transparent;
        background-color: #000;
        background-image: url("../../public/images/patterns/bg.png");
      }
      svg {
        font-size: 50px;
      }
    }
  }
  .home-contact {
    width: 80%;
    margin: 0 auto;
    .hc-formAndInfos {
      margin-top: 25px;
      justify-content: space-between;
      & > div,
      & > form {
        width: 48%;
      }
      & > div {
        border: solid 2px var(--transparentColor);
        border-radius: 50px;
        padding: 35px 25px;
        ul {
          flex-direction: column;
        }
      }
    }
  }
}

.contactInformationList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;

  b,
  a,
  span {
    font-size: 25px;
  }
  li {
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    b {
      color: $primaryColor;
    }
    span,
    a {
      color: var(--foreground);
      text-align: right;
    }
  }
}

@media screen and (max-width: 758px) {
  .home {
    .home-banner {
      flex-wrap: wrap;
      height: auto;
      section {
        width: 100%;
      }
      .hb-left {
        height: 65vh;
        border-radius: 0;
      }
      .hb-right {
        & > div:first-child {
          margin-top: -40vw;
          margin-left: auto;
          margin-right: auto;
          padding: 0;
          width: 90vw;
          height: 50vw;
          border-radius: 0;
          border-top-left-radius: 250px;
          border-top-right-radius: 250px;
          display: flex;
          align-items: flex-end;
          justify-content: center;
          text-align: center;
          // border: solid 2px #000;
        }
        section {
        }
      }
    }

    .home-about {
      width: 90%;
      ul {
        li {
          width: 100%;
        }
      }
    }

    .home-projects {
      width: 90%;
      .hp-list {
        .projectCard {
          width: 100%;
        }
      }
    }

    .home-skills {
      width: 90%;
      .skillCard {
        width: 100%;
      }
    }
    .home-contact {
      width: 90%;

      .hc-formAndInfos {
        gap: 25px 0;
        & > div,
        & > form {
          width: 100%;
        }

        & > div {
          padding: 15px 10px;
        }
      }
    }
  }

  .contactInformationList {
    flex-direction: column;
    b,
    a,
    span {
      font-size: 18px;
    }
  }
}
