.login {
  padding: 20vh 0;
  width: 90%;
  margin: auto;
  h1 {
    text-align: center;
  }
  form {
    width: 50%;
    margin: auto;
    padding: 50px 25px;
  }
}

.dashboard {
  padding: 20vh 0;
  width: 90%;
  margin: auto;
}
